// Body
$body-bg: #f8fafc;
$background-image: (
	
	"url": 'https://ipdatamanager.s3.us-east-1.amazonaws.com/images/imageedit_13_2005970124.jpg'

);

// #f8fafc;


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//Card
/*
$card: (
  "background-color": #F2EFEA,
  "opacity": 0.8,
  "background-clip": border-box,
  "border": 1px solid rgba(0, 0, 0, 0.125),
  "border-radius": 0.25rem
);
*/