html, body {
background-color: #fff;
color: #636b6f;
font-family: 'Nunito', sans-serif;
font-weight: 200;
height: 100vh;
margin: 0;
background: 
-webkit-linear-gradient(rgba(245, 246, 252, 0.55), rgba(117, 19, 93, 0.8)),
     url('https://ipdatamanager.s3.us-east-1.amazonaws.com/images/pexels-nextvoyage-3053859%20%281%29.jpg');

opacity: 0.9;

animation-name: b;
animation-duration: 12s;
animation-iteration-count: infinite;
animation-timing-function: ease;
  
}

@keyframes b{
  0%   { background: 
-webkit-linear-gradient(rgba(245, 246, 252, 0.1), rgba(117, 19, 93, 0.2)),url('https://ipdatamanager.s3.us-east-1.amazonaws.com/images/pexels-nextvoyage-3053859%20%281%29.jpg');}
  25%  { background: 
-webkit-linear-gradient(rgba(200, 200, 200, 0.2), rgba(117, 19, 93, 0.3)),url('https://ipdatamanager.s3.us-east-1.amazonaws.com/images/pexels-nextvoyage-3053859%20%281%29.jpg');}
  50%  { background: 
-webkit-linear-gradient(rgba(150, 150, 100, 0.3), rgba(117, 19, 93, 0.4)),url('https://ipdatamanager.s3.us-east-1.amazonaws.com/images/pexels-nextvoyage-3053859%20%281%29.jpg');}
  75%  { background: 
-webkit-linear-gradient(rgba(245, 246, 252, 0.4), rgba(117, 19, 93, 0.5)),url('https://ipdatamanager.s3.us-east-1.amazonaws.com/images/pexels-nextvoyage-3053859%20%281%29.jpg');}
  100% { background: 
-webkit-linear-gradient(rgba(245, 246, 252, 0.6), rgba(117, 19, 93, 0.85)),url('https://ipdatamanager.s3.us-east-1.amazonaws.com/images/pexels-nextvoyage-3053859%20%281%29.jpg');}
}

.full-height {
height: 100vh;
}

.flex-center {
align-items: center;
display: flex;
justify-content: center;
}

.position-ref {
position: relative;
}

.top-right {
position: absolute;
right: 10px;
top: 18px;
}

.content {
text-align: center;
}

.title {
font-size: 8rem;
color: #FAF6F6 ;
text-shadow: 5px 5px 5px #0150A2 ;
position: relative;
animation-name: title;
animation-duration: 8s;
animation-delay: 2s;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: ease;

}

@keyframes title{
  0%   {text-shadow: 5px 5px  #930031; }
  25%  {text-shadow: 5px 5px  #00B0D2; }
  50%  {text-shadow: 5px 5px  #FAA5A2; }
  75%  {text-shadow: 5px 5px  #FAA5A2; }
  100% {text-shadow: 5px 5px  #F9696E; }
}



.links > a {
color: #FAF6F6;
padding: 0 25px;
font-size: 1.3em;
font-weight: 600;
letter-spacing: .1rem;
text-decoration: none;
text-transform: uppercase;
text-shadow: 3px 3px 3px #0150A2;
}

.m-b-md {
margin-bottom: 30px;
}

.firefly1 {

color: #FAF6F6;
font-size: 3em;
opacity: .9;
position: relative;
animation-name: s;
animation-duration: 10s;
animation-iteration-count: infinite;
animation-timing-function: linear;

}

@keyframes s{
  0%   {opacity: .8; left: 500px; bottom: 300px; }
  25%  {opacity: .9; left: 300px; bottom: 350px;}
  50%  {opacity: .8; left: 200px; bottom: 450px;}
  75%  {opacity: .7; left: 100px; bottom: 500px;}
  100% {opacity: .9; left: 50px; bottom: 600px;}
}

.firefly2 {

color: #FAF6F6;
font-size: 2em;
opacity: .7;
position: relative;
animation-name: g;
animation-duration: 10s;
animation-iteration-count: infinite;
animation-timing-function: linear;

}

@keyframes g{
  0%   {opacity: .6; left: 300px; bottom: 400px; }
  25%  {opacity: .9; left: 200px; bottom: 500px;}
  50%  {opacity: .8; left: 170px; bottom: 600px;}
  75%  {opacity: .7; left: 120px; bottom: 700px;}
  100% {opacity: .6; left: 100px; bottom: 750px;}
}


.firefly3 {

color: #FAF6F6;
font-size: 4em;
opacity: .8;
position: relative;
animation-name: b;
animation-duration: 12s;
animation-iteration-count: infinite;
animation-timing-function: linear;

}

@keyframes b{
  0%   {opacity: .6; left: 600px; bottom: 450px; }
  25%  {opacity: .9; left: 700px; bottom: 550px;}
  50%  {opacity: .8; left: 800px; bottom: 700px;}
  75%  {opacity: .7; left: 900px; bottom: 800px;}
  100% {opacity: .6; left: 1000px; bottom: 900px;}
}


.firefly4 {

color: #FAF6F6;
font-size: 6em;
opacity: .8;
position: relative;
animation-name: b;
animation-duration: 12s;
animation-iteration-count: infinite;
animation-timing-function: linear;

}

@keyframes b{
  0%   {opacity: .6; left: 700px; bottom: 500px; }
  25%  {opacity: .9; left: 800px; bottom: 550px;}
  50%  {opacity: .8; left: 900px; bottom: 800px;}
  75%  {opacity: .7; left: 950px; bottom: 900px;}
  100% {opacity: .6; left: 1200px; bottom: 1100px;}
}


.firefly5 {

color: #FAF6F6;
font-size: 7em;
opacity: .8;
position: relative;
animation-name: p;
animation-duration: 10s;
animation-iteration-count: infinite;
animation-timing-function: linear;

}

@keyframes p{
  0%   {opacity: .6; left: 800px; bottom: 500px; }
  25%  {opacity: .9; left: 900px; bottom: 550px;}
  50%  {opacity: .8; left: 1000px; bottom: 800px;}
  75%  {opacity: .7; left: 1200px; bottom: 900px;}
  100% {opacity: .6; left: 1200px; bottom: 1100px;}
}